body {
    text-align: center;
    background-color: red;
    font-family: 'Courier New';
}

.submit-area {
    padding: 10px;
    margin: 30px;
    width: 500px;
    position: fixed;
    text-align: center;
    border: 2px solid black;
    background-color: white;
}

.submit-area input {
    margin: 5px;
}

.notes-table {
    padding: 10px;
    margin: 30px;
    float: right;
    width: 1200px;
    border: 2px solid black;
    background-color: white;
}

.note {
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 10px;
    margin: 10px;
    width: 550px;
}

.note p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#date {
    color: gray;
    font-size: 12px;
}

/* Login page */
.login-wrapper {
    padding: 30px;
    margin: 30px;

    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 0;
    right: 0;

    height: 200px;
}

.login-wrapper form {
    margin: 10px;
}