body {
    text-align: center;
    background-color: aquamarine;
    font-family: 'Courier New';
}

h1 {
    font-size: 2.604vw;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
}

.submit-area {
    padding: 0.521vw;
    margin: 2vw ;
    width: 15.625vw;
    position: fixed;
    text-align: center;
    border: 0.154vw solid black;
    background-color: white;
}

.submit-area input {
    margin: 0.26vw;
}

#textbox {
    resize: none;
    width: 15vw;;
    height: 5vw;
    font-size: 0.8vw;
}

#title {
    width: 9vw;
    font-size: 0.8vw;
    float: left;
}

#submit {
    font-size: 0.8vw;
    float: right;
}

.notes-table {
    padding: 0.521vw;
    margin: 1.563vw;
    float: right;
    width: 72.917vw;
    border: 0.154vw solid black;
    background-color: white;
}

.note {
    border: 0.154vw solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 0.521vw;
    margin: 0.521vw;
    width: 21.875vw;
}

.note p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#date {
    color: gray;
    font-size: 0.625vw;
}

#logo-img {
    width: 21.875vw;
    margin: 1.042vw;
}

/* Login page */
.login-wrapper {
    padding: 1.563vw;
    margin: 1.563vw;

    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 0;
    right: 0;

    height: 10.417vw;
}

.login-wrapper form {
    margin: 0.521vw;
}